In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('sales_5_6.csv')
df

    sales_id  sales_date  sales_amount
0          1  2022-05-01      16759.92
1          2  2022-05-02      25053.15
2          3  2022-05-03      32825.14
3          4  2022-05-04      32490.19
4          5  2022-05-05      35694.14
5          6  2022-05-06      35708.28
6          7  2022-05-07      38821.55
7          8  2022-05-08      37207.76
8          9  2022-05-09      46277.49
9         10  2022-05-10      44278.43
10        11  2022-05-11      36268.72
11        12  2022-05-12      41860.92
12        13  2022-05-13      50054.72
13        14  2022-05-14      49651.00
14        15  2022-05-15      47253.91
15        16  2022-05-16      43371.52
16        17  2022-05-17      43278.60
17        18  2022-05-18      32220.24
18        19  2022-05-19      39306.32
19        20  2022-05-20      45501.60
20        21  2022-05-21      47201.74
21        22  2022-05-22      44685.96
22        23  2022-05-23      45687.85
23        24  2022-05-24      42792.98
24        25  2022-05-25      32825.58
25        26  2022-05-26      39977.07
26        27  2022-05-27      91412.93
27        28  2022-05-28      87716.73
28        29  2022-05-29      39363.83
29        30  2022-05-30      38991.54
30        31  2022-05-31      36190.00
31        32  2022-06-01      36845.68
32        33  2022-06-02      41871.06
33        34  2022-06-03      48808.68
34        35  2022-06-04      45182.15
35        36  2022-06-05      47601.05
36        37  2022-06-06      44887.50
37        38  2022-06-07      39146.48
38        39  2022-06-08      36941.58
39        40  2022-06-09      41230.18
40        41  2022-06-10      43551.49
41        42  2022-06-11      48112.79
42        43  2022-06-12      46860.55
43        44  2022-06-13      43661.14
44        45  2022-06-14      34285.94
45        46  2022-06-15      32111.72
46        47  2022-06-16      38727.02
47        48  2022-06-17      46141.92
48        49  2022-06-18      43881.85
49        50  2022-06-19      43103.33
50        51  2022-06-20      43428.33
51        52  2022-06-21      38744.18
52        53  2022-06-22      31249.70
53        54  2022-06-23      33401.08
54        55  2022-06-24      39494.89
55        56  2022-06-25      49080.11
56        57  2022-06-26      45002.94
57        58  2022-06-27      45446.48
58        59  2022-06-28      40646.81
59        60  2022-06-29      36522.41

In [3]:
df.drop(columns='sales_id', inplace=True)
df.head()

   sales_date  sales_amount
0  2022-05-01      16759.92
1  2022-05-02      25053.15
2  2022-05-03      32825.14
3  2022-05-04      32490.19
4  2022-05-05      35694.14

In [4]:
df2 = df
df2.columns = ['Date','Sales']
df2

          Date     Sales
0   2022-05-01  16759.92
1   2022-05-02  25053.15
2   2022-05-03  32825.14
3   2022-05-04  32490.19
4   2022-05-05  35694.14
5   2022-05-06  35708.28
6   2022-05-07  38821.55
7   2022-05-08  37207.76
8   2022-05-09  46277.49
9   2022-05-10  44278.43
10  2022-05-11  36268.72
11  2022-05-12  41860.92
12  2022-05-13  50054.72
13  2022-05-14  49651.00
14  2022-05-15  47253.91
15  2022-05-16  43371.52
16  2022-05-17  43278.60
17  2022-05-18  32220.24
18  2022-05-19  39306.32
19  2022-05-20  45501.60
20  2022-05-21  47201.74
21  2022-05-22  44685.96
22  2022-05-23  45687.85
23  2022-05-24  42792.98
24  2022-05-25  32825.58
25  2022-05-26  39977.07
26  2022-05-27  91412.93
27  2022-05-28  87716.73
28  2022-05-29  39363.83
29  2022-05-30  38991.54
30  2022-05-31  36190.00
31  2022-06-01  36845.68
32  2022-06-02  41871.06
33  2022-06-03  48808.68
34  2022-06-04  45182.15
35  2022-06-05  47601.05
36  2022-06-06  44887.50
37  2022-06-07  39146.48
38  2022-06-08  36941.58
39  2022-06-09  41230.18
40  2022-06-10  43551.49
41  2022-06-11  48112.79
42  2022-06-12  46860.55
43  2022-06-13  43661.14
44  2022-06-14  34285.94
45  2022-06-15  32111.72
46  2022-06-16  38727.02
47  2022-06-17  46141.92
48  2022-06-18  43881.85
49  2022-06-19  43103.33
50  2022-06-20  43428.33
51  2022-06-21  38744.18
52  2022-06-22  31249.70
53  2022-06-23  33401.08
54  2022-06-24  39494.89
55  2022-06-25  49080.11
56  2022-06-26  45002.94
57  2022-06-27  45446.48
58  2022-06-28  40646.81
59  2022-06-29  36522.41

In [5]:
df3 = df2.set_index('Date')
df3

               Sales
Date
2022-05-01  16759.92
2022-05-02  25053.15
2022-05-03  32825.14
2022-05-04  32490.19
2022-05-05  35694.14
2022-05-06  35708.28
2022-05-07  38821.55
2022-05-08  37207.76
2022-05-09  46277.49
2022-05-10  44278.43
2022-05-11  36268.72
2022-05-12  41860.92
2022-05-13  50054.72
2022-05-14  49651.00
2022-05-15  47253.91
2022-05-16  43371.52
2022-05-17  43278.60
2022-05-18  32220.24
2022-05-19  39306.32
2022-05-20  45501.60
2022-05-21  47201.74
2022-05-22  44685.96
2022-05-23  45687.85
2022-05-24  42792.98
2022-05-25  32825.58
2022-05-26  39977.07
2022-05-27  91412.93
2022-05-28  87716.73
2022-05-29  39363.83
2022-05-30  38991.54
2022-05-31  36190.00
2022-06-01  36845.68
2022-06-02  41871.06
2022-06-03  48808.68
2022-06-04  45182.15
2022-06-05  47601.05
2022-06-06  44887.50
2022-06-07  39146.48
2022-06-08  36941.58
2022-06-09  41230.18
2022-06-10  43551.49
2022-06-11  48112.79
2022-06-12  46860.55
2022-06-13  43661.14
2022-06-14  34285.94
2022-06-15  32111.72
2022-06-16  38727.02
2022-06-17  46141.92
2022-06-18  43881.85
2022-06-19  43103.33
2022-06-20  43428.33
2022-06-21  38744.18
2022-06-22  31249.70
2022-06-23  33401.08
2022-06-24  39494.89
2022-06-25  49080.11
2022-06-26  45002.94
2022-06-27  45446.48
2022-06-28  40646.81
2022-06-29  36522.41

In [6]:
from statsmodels.tsa.stattools import adfuller

In [7]:
def ad_test(dataset):
    dftest = adfuller(dataset, autolag="AIC")
    print("1. ADF: ",dftest[0])
    print("2. P-Value: ",dftest[1])
    print("3. Num of Lags: ",dftest[2])
    print("4. Num of Observations Used for ADF Regression and Critical Values Calculation: ",dftest[3])
    print("5. Critical Values: ")
    for key, val in dftest[4].items():
        print("\t",key,": ",val)

In [8]:
ad_test(df3['Sales'])

1. ADF:  -4.4267006539450575
2. P-Value:  0.000266148807862647
3. Num of Lags:  3
4. Num of Observations Used for ADF Regression and Critical Values Calculation:  56
5. Critical Values:
	 1% :  -3.552928203580539
	 5% :  -2.9147306250000002
	 10% :  -2.595137155612245

In [9]:
from pmdarima import auto_arima
# Ignore harmless warnings
import warnings
warnings.filterwarnings("ignore")

In [10]:
stepwise_fit = auto_arima(df3['Sales'], trace=True, suppress_warnings=True)
stepwise_fit.summary()

Performing stepwise search to minimize aic
 ARIMA(2,0,2)(0,0,0)[0] intercept   : AIC=1262.622, Time=0.20 sec
 ARIMA(0,0,0)(0,0,0)[0] intercept   : AIC=1288.584, Time=0.00 sec
 ARIMA(1,0,0)(0,0,0)[0] intercept   : AIC=1272.930, Time=0.02 sec
 ARIMA(0,0,1)(0,0,0)[0] intercept   : AIC=1259.236, Time=0.03 sec
 ARIMA(0,0,0)(0,0,0)[0]             : AIC=1453.854, Time=0.01 sec
 ARIMA(1,0,1)(0,0,0)[0] intercept   : AIC=1260.093, Time=0.05 sec
 ARIMA(0,0,2)(0,0,0)[0] intercept   : AIC=1259.484, Time=0.04 sec
 ARIMA(1,0,2)(0,0,0)[0] intercept   : AIC=1262.074, Time=0.06 sec
 ARIMA(0,0,1)(0,0,0)[0]             : AIC=inf, Time=0.06 sec

Best model:  ARIMA(0,0,1)(0,0,0)[0] intercept
Total fit time: 0.487 seconds

<class 'statsmodels.iolib.summary.Summary'>
"""
                               SARIMAX Results
==============================================================================
Dep. Variable:                      y   No. Observations:                   60
Model:               SARIMAX(0, 0, 1)   Log Likelihood                -626.618
Date:                Wed, 22 Jun 2022   AIC                           1259.236
Time:                        01:20:49   BIC                           1265.519
Sample:                             0   HQIC                          1261.694
                                 - 60
Covariance Type:                  opg
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
intercept    4.22e+04   1756.038     24.032      0.000    3.88e+04    4.56e+04
ma.L1          0.7406      0.103      7.202      0.000       0.539       0.942
sigma2      6.749e+07      0.459   1.47e+08      0.000    6.75e+07    6.75e+07
===================================================================================
Ljung-Box (L1) (Q):                   0.47   Jarque-Bera (JB):               669.98
Prob(Q):                              0.49   Prob(JB):                         0.00
Heteroskedasticity (H):               0.44   Skew:                             2.76
Prob(H) (two-sided):                  0.07   Kurtosis:                        18.41
===================================================================================

Warnings:
[1] Covariance matrix calculated using the outer product of gradients (complex-step).
[2] Covariance matrix is singular or near-singular, with condition number 1.52e+25. Standard errors may be unstable.
"""

In [11]:
from statsmodels.tsa.arima.model import ARIMA

In [12]:
print(df3.shape)
train = df3.iloc[:-20]
test = df3.iloc[-20:]
print(train.shape, test.shape)

(60, 1)
(40, 1) (20, 1)

In [13]:
model = ARIMA(train['Sales'], order=(0,0,1))
model = model.fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                               SARIMAX Results
==============================================================================
Dep. Variable:                  Sales   No. Observations:                   40
Model:                 ARIMA(0, 0, 1)   Log Likelihood                -423.987
Date:                Wed, 22 Jun 2022   AIC                            853.974
Time:                        01:24:26   BIC                            859.041
Sample:                    05-01-2022   HQIC                           855.806
                         - 06-09-2022
Covariance Type:                  opg
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const       4.258e+04   2612.254     16.301      0.000    3.75e+04    4.77e+04
ma.L1          0.7701      0.148      5.186      0.000       0.479       1.061
sigma2       9.17e+07      0.561   1.63e+08      0.000    9.17e+07    9.17e+07
===================================================================================
Ljung-Box (L1) (Q):                   0.20   Jarque-Bera (JB):               269.48
Prob(Q):                              0.65   Prob(JB):                         0.00
Heteroskedasticity (H):               0.71   Skew:                             2.56
Prob(H) (two-sided):                  0.54   Kurtosis:                        14.64
===================================================================================

Warnings:
[1] Covariance matrix calculated using the outer product of gradients (complex-step).
[2] Covariance matrix is singular or near-singular, with condition number 1.23e+23. Standard errors may be unstable.
"""

In [17]:
start = len(train)
end = len(train)+len(test)-1
pred = model.predict(start=start,end=end,typ='levels')
print(pred)

2022-06-10    44578.504808
2022-06-11    42581.104238
2022-06-12    42581.104238
2022-06-13    42581.104238
2022-06-14    42581.104238
2022-06-15    42581.104238
2022-06-16    42581.104238
2022-06-17    42581.104238
2022-06-18    42581.104238
2022-06-19    42581.104238
2022-06-20    42581.104238
2022-06-21    42581.104238
2022-06-22    42581.104238
2022-06-23    42581.104238
2022-06-24    42581.104238
2022-06-25    42581.104238
2022-06-26    42581.104238
2022-06-27    42581.104238
2022-06-28    42581.104238
2022-06-29    42581.104238
Freq: D, Name: predicted_mean, dtype: float64

In [18]:
from sklearn.metrics import mean_squared_error
from math import sqrt
rmse = sqrt(mean_squared_error(pred, test['Sales']))
print(rmse)

5447.24841894935

In [20]:
rmse2 = np.mean((pred.values-test['Sales'])**2)**.5
print(rmse2)

5447.24841894935

In [22]:
corr = np.corrcoef(pred.values-test['Sales'])   # Correlation between the Actual and the Forecast (corr)
mae = np.mean(np.abs(pred.values-test['Sales']))    # Mean Absolute Error
mpe = np.mean((pred.values-test['Sales'])/test['Sales'])   # Mean Percentage Error
print(corr)
print(mae)
print(mpe)

1.0
4399.080028493515
0.055021153811208014

In [23]:
test['Sales'].mean()

41172.734000000004

In [27]:
mape = np.mean(np.abs(pred.values-test['Sales'])/np.abs(test['Sales']))  # Mean Absolute Percentage Error (MAPE)
me = np.mean(pred.values-test['Sales'])             # Mean Error
print(mape)
print(me)

0.11689626070963918
1508.2402669786456

In [29]:
normalized_rmse = rmse/(test['Sales'].max()-test['Sales'].min())
print(normalized_rmse)

0.30550326206460476